<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Auditing System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"><i class="fas fa-gem"></i>DiamondAudits</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span> <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/manage_products" class="navbar__links">Manage Products</a>
                </li>
                <li class="navbar__item">
                    <a href="/view_records" class="navbar__links">View Records</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>Inventory Auditing System</h1>
                <h2>Real Time</h2>
                <p>See what makes up different.</p>
                <button class="main__btn"><a href="/manage_products">Get Started</a></button>
            </div>
            <div class="main__img--container">
                <img id="main__img" src="{{ url_for('static', filename='images/main.jpeg') }}" alt="Main Image">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>